body {
	font-family: sans-serif;
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding:0 10px;
}

a {
	color: #777;
	text-decoration: none;
}

h1, h2, h3 {
	line-height: 1.2;
}

h1 {
	margin-bottom:12px!important;
}

h3 {
	margin-top:42px;
	margin-bottom:8px;
}

hr {
	height: 1px;
}

#title {
	font-size: x-large;
}

a.ablack {
	color:#000!important;
}

#all_posts {
	margin-top:24px;
	text-align:center;
}

.subtitle {
	font-size:small;
	margin:12px 0;
}

#description {
	font-size: large;
	margin-bottom: 12px;
}

img {
	max-width:100%;
}

#twitter {
	line-height: 20px;
	vertical-align: top;
	text-align: right;
	font-style: italic;
	color: #333;
	margin-top: 24px;
	font-size: 14px;
}

ul, ol, .content p, h4 {
	margin-left:24px;
	margin-right:24px;
}

code {
	background: #eeeeee;
	padding:6px
}
