@font-face {
	font-family: 'Overpass';
	font-style: normal;
	src: local('Overpass'), local('Overpass-Regular'), url(Overpass-Regular.ttf);
}

body {
	font-family: Overpass;
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding:0 10px;
}

a {
	color: #777;
	text-decoration: none;
}

h1, h2, h3 {
	line-height: 1.2
}